#languageOne, #languageTwo, #languageThree, #languageFour, #languageFive {
  display: none;
}

/* media part should be always the end of styles.css in order to work well with other css actions. */
@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
